<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test JS</title>
</head>
<body>

<h1 id='hello' class="heading">Hello world</h1>

<h2 id='sub-hello' class="h2-class">This is heading 2</h2>
<h2><a href="https://developer.mozilla.org/ru/docs/Web/Events" target="_blank">Another h2</a></h2>

<script src="../static/js/01_base.js"></script>
<script src="../static/js/02_numbers.js"></script>
<script src="../static/js/03_strings.js"></script>
<script src="../static/js/04_functions.js"></script>
<script src="../static/js/05_arrays.js"></script>
<script src="../static/js/06_objects.js"></script>
<script src="../static/js/07_asynchrony.js"></script>
<script src="../static/js/08_DOM.js"></script>
</body>
</html>